.clicker-expanded
  %button{ng-click: "submit()", ng-if: "!yourVote()"}
    Vote!
  .number-of-votes
    {{ proposal.votersCount }} people have voted.
  .have-you-voted{ng-if: "yourVote()"}
    (You voted!)
